n8n/wf_send_message_to_telegram_bot.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-07T09:20:46.851Z",
  "id": "48yxiZejbLrzjQM2",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "wf_send_message_to_telegram_bot",
  "nodes": [
    {
      "parameters": {
        "options": {
          "responseMode": "lastNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "8ed3f21a-1c56-4e1b-b98e-99594fcbb2b8",
      "name": "When chat message received",
      "webhookId": "0f02dd42-bf44-41b4-9227-22e5ee7f0d57",
      "notesInFlow": true
    },
    {
      "parameters": {
        "chatId": "6457099476",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        528,
        0
      ],
      "id": "861a38bf-478f-46e4-bb78-74782c072fb6",
      "name": "Send a text message",
      "webhookId": "b78346d8-9129-4811-90f2-1625ca5fa647",
      "credentials": {
        "telegramApi": {
          "id": "X5mN2jfZwfdTOXCK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "258bb620-0704-4d1a-9916-b27a5d27d881",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "48502017-8ed7-48db-a168-5076871a801f",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "TxDBg859kDFgmpeD",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-07T09:20:46.858Z",
      "updatedAt": "2025-08-07T09:20:46.858Z",
      "role": "workflow:owner",
      "workflowId": "48yxiZejbLrzjQM2",
      "projectId": "qF2XjzJIG11ig6Up",
      "project": {
        "createdAt": "2025-08-06T04:59:44.220Z",
        "updatedAt": "2025-08-06T05:01:52.046Z",
        "id": "qF2XjzJIG11ig6Up",
        "name": "Ashish K <ashu.009kamboj@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-08-06T04:59:44.220Z",
            "updatedAt": "2025-08-06T04:59:44.220Z",
            "role": "project:personalOwner",
            "userId": "f0d17e34-2978-4ad8-ad62-78b59ac826c9",
            "projectId": "qF2XjzJIG11ig6Up",
            "user": {
              "createdAt": "2025-08-06T04:59:43.785Z",
              "updatedAt": "2025-08-11T04:41:13.000Z",
              "id": "f0d17e34-2978-4ad8-ad62-78b59ac826c9",
              "email": "ashu.009kamboj@gmail.com",
              "firstName": "Ashish",
              "lastName": "K",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-06T05:03:06.574Z",
                "personalization_survey_n8n_version": "1.105.3",
                "companySize": "1000+",
                "companyType": "digital-agency",
                "role": "data-science",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": false,
                "easyAIWorkflowOnboarded": true
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-08-11",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-08-06T13:02:21.609Z",
      "updatedAt": "2025-08-06T13:02:21.609Z",
      "id": "Gk8O6idQ9xkyk5HO",
      "name": "llm"
    },
    {
      "createdAt": "2025-08-11T06:48:07.181Z",
      "updatedAt": "2025-08-11T06:48:07.181Z",
      "id": "OjYDOor9RNN1qXjL",
      "name": "telegram"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-08-11T11:28:44.000Z",
  "versionId": "be1e193e-80a2-4a65-a836-1f302a8eef3a"
}