n8n/wf_telegram_bot_trigger.json
{
  "active": false,
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Response To Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Text Or Voice": {
      "main": [
        [
          {
            "node": "Send Context To AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Text Or Voice",
            "type": "main",
            "index": 0
          },
          {
            "node": "Typing Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Context To AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Transcribe Context To AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send Transcribe Context To AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-06T13:03:49.502Z",
  "id": "IpKEj8AgTDAmlBVg",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "wf_telegram_bot_trigger",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "*"
        ],
        "additionalFields": {}
      },
      "id": "5c9b2bbe-7ca5-45f5-95bf-a683dd42cf24",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -112,
        208
      ],
      "webhookId": "912e007f-19d9-4b5a-a90e-12ba01c9978d",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "X5mN2jfZwfdTOXCK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 10
      },
      "id": "c0236b55-5cfa-440e-b2bd-cd6410a75480",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1296,
        848
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "d4be55c8-8594-4ba5-8e07-17083c43e9a7",
      "name": "Get Voice",
      "type": "n8n-nodes-base.telegram",
      "position": [
        464,
        448
      ],
      "webhookId": "1962cd81-9991-4199-a78a-2250bf29631a",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "X5mN2jfZwfdTOXCK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "0a236099-525e-4748-a57d-8b8e2c63c48b",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "24b7e8b8-6fce-4ddc-94b6-30b852891995",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{  $json.message.voice.file_id }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Voice"
            }
          ]
        },
        "options": {}
      },
      "id": "a353406e-3a64-425b-a2a5-92562f7759fc",
      "name": "Text Or Voice",
      "type": "n8n-nodes-base.switch",
      "position": [
        304,
        208
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a personal assistant that helps user to fulfill their request.\n\nWhen you are asked to perform a task on the current date, please use the current time and date: {{$now}}\n\n## Output\nYou should output the result and don't include any link. Just mentioned where you added it to."
        }
      },
      "id": "93808df1-14d1-4602-8424-72c4ffa93e86",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1264,
        464
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.chatId }}"
      },
      "id": "402cc8c2-d4ae-4949-b081-2b7def82185d",
      "name": "Typing Action",
      "type": "n8n-nodes-base.telegram",
      "position": [
        304,
        16
      ],
      "webhookId": "2479f7f8-6d54-4d45-921e-af6dcfae768e",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "X5mN2jfZwfdTOXCK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$('Telegram Trigger').first().json.message.chat.id}}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "28d6c664-6da0-48be-b036-9439bd83c1a9",
      "name": "Send Response To Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1888,
        464
      ],
      "webhookId": "76e4b8a4-1086-4d24-b60e-b96942d83bdf",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "X5mN2jfZwfdTOXCK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "590b803f-833c-4854-bde7-5241d25b2b32",
              "name": "message.text",
              "type": "string",
              "value": "={{ $json.message.text }}"
            },
            {
              "id": "303e0b5d-3d37-48fc-bbd3-ce62dbe7ef78",
              "name": "sessionId",
              "type": "string",
              "value": "={{ $json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c8ec43eb-3432-434f-8275-3421e3014e60",
      "name": "Send Context To AI Agent",
      "type": "n8n-nodes-base.set",
      "position": [
        1008,
        176
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2bb71aef-0ca1-4c26-95e1-c0c83bc82068",
              "name": "message.text",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "692a2bae-35da-41d3-be8d-32c0f5dfbbef",
              "name": "sessionId",
              "type": "string",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3f809aae-1285-4af3-b5dd-c71b5489c278",
      "name": "Send Transcribe Context To AI Agent",
      "type": "n8n-nodes-base.set",
      "position": [
        1008,
        384
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1136,
        672
      ],
      "id": "51e62ad9-4333-41b4-a674-cd3f4b69afc5",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "TxDBg859kDFgmpeD",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        624,
        432
      ],
      "id": "8d211c3f-0823-4039-92d2-275011f2df52",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "dimavz/whisper-tiny:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        496,
        640
      ],
      "id": "9e8be5b1-57a4-4488-a5df-8110855923b8",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "TxDBg859kDFgmpeD",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-06T13:03:49.516Z",
      "updatedAt": "2025-08-06T13:03:49.516Z",
      "role": "workflow:owner",
      "workflowId": "IpKEj8AgTDAmlBVg",
      "projectId": "qF2XjzJIG11ig6Up",
      "project": {
        "createdAt": "2025-08-06T04:59:44.220Z",
        "updatedAt": "2025-08-06T05:01:52.046Z",
        "id": "qF2XjzJIG11ig6Up",
        "name": "Ashish K <ashu.009kamboj@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-08-06T04:59:44.220Z",
            "updatedAt": "2025-08-06T04:59:44.220Z",
            "role": "project:personalOwner",
            "userId": "f0d17e34-2978-4ad8-ad62-78b59ac826c9",
            "projectId": "qF2XjzJIG11ig6Up",
            "user": {
              "createdAt": "2025-08-06T04:59:43.785Z",
              "updatedAt": "2025-08-11T04:41:13.000Z",
              "id": "f0d17e34-2978-4ad8-ad62-78b59ac826c9",
              "email": "ashu.009kamboj@gmail.com",
              "firstName": "Ashish",
              "lastName": "K",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-06T05:03:06.574Z",
                "personalization_survey_n8n_version": "1.105.3",
                "companySize": "1000+",
                "companyType": "digital-agency",
                "role": "data-science",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": false,
                "easyAIWorkflowOnboarded": true
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-08-11",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-08-07T07:52:24.846Z",
      "updatedAt": "2025-08-07T07:52:24.846Z",
      "id": "C9g9SBVkmXiu4upa",
      "name": "Template"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-08-11T11:28:29.000Z",
  "versionId": "2ecf26b9-7069-45c6-80d2-8da7e7c480c2"
}