n8n/wf_update_google_doc.json
{
  "active": false,
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-06T06:38:15.489Z",
  "id": "pUq0dLbjMOedm2XV",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "wf_update_google_doc",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "6d921e0e-2fd4-4274-acfe-17e4c7c7fe1b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        336,
        192
      ],
      "id": "182facd6-9d2c-4c3b-b991-aa16dee56b2a",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "TxDBg859kDFgmpeD",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "8de19d72-3b30-4296-9691-403138a343e2",
      "name": "When chat message received",
      "webhookId": "cba2db9f-76ef-4a44-a942-cf2531fb70ed"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "13RoRO1__IYKuaWzP04MFroRVBuIkr5VEXzzF57E-K6w",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "c55c79e2-0023-4cc7-a998-da78b09cc71f",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "b5mLjqmdMJ9MkXKD",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "createdAt": "2025-08-06T06:38:15.499Z",
      "updatedAt": "2025-08-06T06:38:15.499Z",
      "role": "workflow:owner",
      "workflowId": "pUq0dLbjMOedm2XV",
      "projectId": "qF2XjzJIG11ig6Up",
      "project": {
        "createdAt": "2025-08-06T04:59:44.220Z",
        "updatedAt": "2025-08-06T05:01:52.046Z",
        "id": "qF2XjzJIG11ig6Up",
        "name": "Ashish K <ashu.009kamboj@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-08-06T04:59:44.220Z",
            "updatedAt": "2025-08-06T04:59:44.220Z",
            "role": "project:personalOwner",
            "userId": "f0d17e34-2978-4ad8-ad62-78b59ac826c9",
            "projectId": "qF2XjzJIG11ig6Up",
            "user": {
              "createdAt": "2025-08-06T04:59:43.785Z",
              "updatedAt": "2025-08-11T04:41:13.000Z",
              "id": "f0d17e34-2978-4ad8-ad62-78b59ac826c9",
              "email": "ashu.009kamboj@gmail.com",
              "firstName": "Ashish",
              "lastName": "K",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-06T05:03:06.574Z",
                "personalization_survey_n8n_version": "1.105.3",
                "companySize": "1000+",
                "companyType": "digital-agency",
                "role": "data-science",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": false,
                "easyAIWorkflowOnboarded": true
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-08-11",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-08-06T13:02:05.662Z",
      "updatedAt": "2025-08-06T13:02:05.662Z",
      "id": "C7xbmSIffI4KZAgL",
      "name": "google doc"
    },
    {
      "createdAt": "2025-08-06T13:02:21.609Z",
      "updatedAt": "2025-08-06T13:02:21.609Z",
      "id": "Gk8O6idQ9xkyk5HO",
      "name": "llm"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-08-11T11:34:17.000Z",
  "versionId": "dc3995ff-fb34-47ad-a222-731b7abd3668"
}